@model IndexViewModel
@{

    ViewData["Title"] = "Account management";
}
<div class="container">
    <div class="account bg-light card o-hidden border-0 shadow-lg my-5">
        <h1>@ViewData["Title"].</h1>
        <p class="text-success">@ViewData["StatusMessage"]</p>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-4">infomation:</dt>
                <dd class="col-sm-8">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(m => Model.profile.UserName)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(m => Model.profile.UserName)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(m => Model.profile.UserEmail)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(m => Model.profile.UserEmail)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(m => Model.profile.PhoneNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(m => Model.profile.PhoneNumber)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(m => Model.profile.HomeAdress)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(m => Model.profile.HomeAdress)
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(m => Model.profile.BirthDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(m => Model.profile.BirthDate)
                        </dd>
                    </dl>
                    <a asp-action="EditProfile" class="btn btn-primary btn-user">Edit</a>
                </dd>
                <dt class="col-sm-12">
                    <hr>
                </dt>
                <dt class="col-sm-4">Password:</dt>
                <dd class="col-sm-8">
                    @if (Model.HasPassword)
                    {
                        <a asp-controller="Manage" asp-action="ChangePassword">Change Password</a>

                    }
                    else
                    {
                        <a asp-controller="Manage" asp-action="SetPassword">Create Password</a>

                    }
                </dd>
                <hr>
                <dt class="col-sm-4">Link to another account:</dt>
                <dd class="col-sm-8">
                    has @Model.Logins.Count Link. <a asp-controller="Manage" asp-action="ManageLogins">Link
                        Management</a>
                </dd>
                <hr>
                <dt class="col-sm-4">Phone Number:</dt>
                <dd class="col-sm-8">
                    <p>
                        Phone Number to two-factor verify account
                    </p>
                    @(Model.PhoneNumber ?? "Nothing")
                    @if (Model.PhoneNumber != null)
                    {
                        <text>:</text>
                        <text>&nbsp;&nbsp;<a asp-controller="Manage"
                            asp-action="AddPhoneNumber">Change</a>&nbsp;&nbsp;</text>
                        <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post" role="form">
                            <button type="submit" class="btn btn-danger btn-sm">Remove Number Phone</button>
                        </form>

                    }
                    else
                    {
                        <text>&nbsp;&nbsp;<a asp-controller="Manage" asp-action="AddPhoneNumber">Add Phone Number</a></text>
                    }
                </dd>
                <hr>
                <dt class="col-sm-4">Two-factor verify:</dt>
                <dd class="col-sm-8">
                    <!--<p>
                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>-->
                    @if (Model.TwoFactor)
                    {
                        <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post"
                        class="form-horizontal" role="form">
                            (verifing) <button type="submit" class="btn btn-danger btn-sm">Cancel</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post"
                        class="form-horizontal" role="form">
                            <button type="submit" class="btn btn-primary btn-sm">Active</button>
                        </form>

                    }
                </dd>
                <hr>
                <dt class="col-sm-4">verify:</dt>
                <dd class="col-sm-6">
                    @if (Model.AuthenticatorKey == null)
                    {
                        <form asp-controller="Manage" asp-action="ResetAuthenticatorKey" method="post"
                        class="form-horizontal" role="form">
                            <button type="submit" class="btn btn-sm btn-primary">Generator code</button>
                        </form>
                    }
                    else
                    {
                        <text>Code: @Model.AuthenticatorKey</text>
                        <p>Enter this code to two-factor verify</p>
                        <form asp-controller="Manage" asp-action="GenerateRecoveryCode" method="post"
                        class="form-horizontal" role="form">
                            <button type="submit" class="btn btn-sm btn-primary">Generator Reset Authenticator Key</button>
                            <p>Reset Authenticator Key</p>
                        </form>

                    }
                </dd>
            </dl>
        </div>
    </div>
</div>
